<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookMyStay</title>
  </head>
  <body>
    <h3>Creat New Listing!</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
      <input
        type="text"
        name="title"
        value="<%= listing.title %>"
      /><br /><br />
      <textarea name="description" placeholder="Enter Description">
<%= listing.description %></textarea
      >
      <br /><br />
      <input
        type="number"
        name="price"
        value="<%= listing.price %>"
      /><br /><br />
      <input
        type="text"
        name="location"
        value="<%= listing.location %>"
      /><br /><br />
      <input
        type="text"
        name="country"
        value="<%= listing.country %>"
      /><br /><br />
      <button type="submit">Edit</button>
    </form>
  </body>
</html>
