<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookMyStay</title>
</head>
<body>
    <h3><%= listing.title %></h3>
    <ul>
        <li><%= listing.description %></li>
        <li><a href="<%= listing.image %>" target="_blank">image</a></li>
        <li><%= listing.price %></li>
        <li><%= listing.location %></li>
        <li><%= listing.country %></li>
        <form action="/listings/<%= listing._id %>/edits" method="get">
            <button type="submit">Edit</button>
        </form>
        <br>
        <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
            <button type="submit">Delete</button>
        </form>
    </ul>


</body>
</html>