<%- layout('/layouts/boilerplate') -%>
<script>
  const coordinates = <%- JSON.stringify(listing.geometery.coordinates) %>;
</script>
<style>
  #map {
    height: 20rem;
  }
</style>
<body>
  <div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
      <h3 class="text-center"><%= listing.title %></h3>
      <div class="card border-none my-4">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top rounded-4 img-h-20r"
          alt="<%= listing.title %>"
        />
        <div class="card-body p-0">
          <p class="card-text pt-2 mb-2">
            <span>
              Owned by
              <span class="fw-semibold fst-italic"
                ><%= listing.owner.username %></span
              >
            </span>
            <br />
            <span class="fw-medium">
              &#8377;<%=listing.price.toLocaleString('en-IN') %>/night
            </span>
            <br />
            <span> <%= listing.description %> </span>
            <br />
            <span class="fw-medium"> <%= listing.location %> </span>
            <br />
            <span class="fw-semibold"> <%= listing.country %> </span>
          </p>
        </div>
        <% if(currUser && currUser._id.equals(listing.owner._id)){ %>
        <div class="row">
          <form
            action="/listings/<%= listing._id %>?_method=DELETE"
            method="post"
          >
            <a
              href="/listings/<%= listing._id %>/edits"
              class="btn btn-dark green-btn"
              >Edit</a
            >
            <button type="submit" class="btn btn-danger mx-2">Delete</button>
          </form>
        </div>
        <% } %>
      </div>
    </div>
    <% if(currUser){ %>
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
      <hr />
      <h4>Leave a Review</h4>
      <form
        action="/listings/<%= listing._id %>/reviews"
        method="post"
        novalidate
        class="needs-validation"
      >
        <div>
          <label class="form-label fw-medium" for="rating">Rating</label>
          <fieldset class="starability-grow">
            <input
              type="radio"
              id="no-rate"
              class="input-no-rate"
              name="review[rating]"
              value="1"
              checked
              aria-label="No rating."
            />
            <input
              type="radio"
              id="first-rate1"
              name="review[rating]"
              value="1"
            />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input
              type="radio"
              id="first-rate2"
              name="review[rating]"
              value="2"
            />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input
              type="radio"
              id="first-rate3"
              name="review[rating]"
              value="3"
            />
            <label for="first-rate3" title="Average">3 stars</label>
            <input
              type="radio"
              id="first-rate4"
              name="review[rating]"
              value="4"
            />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input
              type="radio"
              id="first-rate5"
              name="review[rating]"
              value="5"
            />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>
        <div class="mb-4">
          <label class="form-label fw-medium" for="comment">Comment</label>
          <textarea
            class="form-control resize-none border-shadow-green"
            type="text"
            name="review[comment]"
            id="comment"
            placeholder="Share your review."
            rows="5"
            required
          ></textarea>
          <div class="invalid-feedback">Please add your review.</div>
        </div>
        <button
          type="submit"
          class="btn btn-sm btn-outline-success border-green mb-4"
        >
          Submit
        </button>
      </form>
    </div>
    <% } %> <% if(listing.reviews.length){ %>
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12 mb-4">
      <hr />
      <h4>All Reviews</h4>
      <div class="row row-cols-md-2 row-cols-1">
        <% for(let review of listing.reviews){ %>
        <div class="card col border-none">
          <div class="card-body my-2 bg-light border border-light-subtle">
            <h5 class="card-title"><%= review.author.username %></h5>
            <p
              class="card-subtitle mb-2 starability-result"
              data-rating="<%= review.rating %>"
            ></p>
            <p class="card-text"><%= review.comment %></p>
            <% if(currUser && currUser._id.equals(review.author._id)){ %>
            <form
              method="post"
              action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
            >
              <button type="submit" class="btn btn-sm btn-outline-dark">
                Delete
              </button>
            </form>
            <% } %>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <% } %>
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12 mb-4">
      <hr />
      <p class="fs-5 fw-bold">Where you’ll be</p>
      <div id="map" class="rounded-2"></div>
    </div>
  </div>
</body>

<script src="/javascripts/map.js"></script>